@import './styles/Home.scss';
@import './styles/Gallery.scss';

$layout-mobile: 667px;

.font-face-quiny {
  font-family: "Quiny";
}
.font-face-mulingar {
  font-family: "Mulingar";
}


.App {
  text-align: center;
  .link{
    text-decoration: none;
    color: inherit;
  }
  @media (min-width: $layout-mobile) {
    .title-container{
      background-position: right;
      .title{
        font-size: 70px;
        width: auto;
      }
    }
  }
}

